.mt-2 {
  margin-top: 0.5rem
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.w-3\/5 {
  width: 60%
}

.justify-center {
  justify-content: center
}

.self-center {
  align-self: center
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-b-neutral-400 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(163 163 163 / var(--tw-border-opacity))
}

.bg-stone-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(214 211 209 / var(--tw-bg-opacity))
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}
